<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="siteCode" value=""/>
    <add key="apiId" value=""/>
    <add key="apiPassword" value=""/>
    <add key="timelogPath" value=""/>  
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://app.timelog.dk/local/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="TimelogApi.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://app.timelog.dk/local/service.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap12"
                contract="TimelogApi.ServiceSoap" name="ServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>